<%= form_for(event) do |f| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label "Which Region is this event in?"%>
    <%= f.select(:region_id, Region.all.collect {|r| [ r.name, r.id ] }, :prompt => "Pick a region...") %>
  </div>
  
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label 'What type of event is this?' %>
    <%= f.select(:category_id, Category.all.collect {|c| [ c.name, c.id ] }, :prompt => "Pick a type...") %>
  </div>

  <div class="field">
    <%= f.label 'What is the subject of the event?' %>
    <%= f.select(:topic_id, Topic.all.collect {|t| [ t.name, t.id ] },:prompt => "Pick the primary topic...") %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :start %>
    <%= f.datetime_select :start, {:minute_step => 15, :ampm => true} %>
  </div>

  <div class="field">
    <%= f.label :end %>
    <%= f.datetime_select :end, {:minute_step => 15, :ampm => true} %>
  </div>

  <div class="field">
    <%= f.label :organizer %>
    <%= f.text_field :organizer %>
  </div>

  <div class="field">
    <%= f.label :contact_email %>
    <%= f.text_field :contact_email %>
  </div>

  <div class="field">
    <%= f.label :contact_phone %>
    <%= f.text_field :contact_phone %>
  </div>

  <div class="field">
    <%= f.label :website %>
    <%= f.text_field :website %>
  </div>

  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>
  
  <div class="field">
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>

  <div class="field">
    <%= f.label :state %>
    <%= f.select :state, options_for_select(us_states), :prompt => "Select State..." %>
  </div>

  <div class="field">
    <%= f.label :zip %>
    <%= f.text_field :zip %>
  </div>

  <div class="field">
    <%= f.label :location_details %>
    <%= f.text_area :location_details %>
  </div>
  <div class="field">
    <%= recaptcha_tags %>
  </div>
  <div class="actions">
    <%= f.submit "Submit Your Event"%>
  </div>
<% end %>
