<%= render "map" %>
<%= render "regions/nav" %>
<p id="notice"><%= notice.html_safe if notice %></p>

<h2><%= @event.name %></h2>

<div class="sidebar">
<%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@event.latitude},#{@event.longitude}&markers=#{@event.latitude},#{@event.longitude}&zoom=11&size=400x400&key=AIzaSyB8c_WNUuU6gusK-TV4asDjmLoZuVhq_ww",
              class: 'small-map', alt: "#{@event.city}"%>
</div>
<div>
  <p>
    <%= markdown(@event.description) %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= @event.category.name %><br/>
    <strong>Topic:</strong>
    
    <%= @event.topic.name %>
  </p>

  <p>
    <strong>Start:</strong>
    <%= @event.start.to_formatted_s(:friendly) %><br/>
    <strong>End:</strong>
    <%= @event.end.to_formatted_s(:friendly) if @event.end %>
  </p>

  <% if @event.organizer.present? %>
  <p>
    <strong>Organized by:</strong><br/>
    <%= @event.organizer %><br/>
    <%= @event.contact_email %>
    <%= @event.contact_phone %>
  </p>
  <% end %>

  <p>
    <strong>Address:</strong><br/>
    <%= @event.address %><br/>
    <%= @event.city %>, <%= @event.state %>, <%= @event.zip %>
  </p>

  <% if @event.location_details.present? %>
  <p>
    <strong>Location details:</strong>
    <%= @event.location_details %>
  </p>
  <% end %>
  
  <% if @event.website.present? %>
  <p>
    <%= link_to 'Visit Event Website', url_with_protocol(@event.website), class: 'button' %>
  </p>
  <% end %>
</div>

<% if creator? or admin?  %>
  <%= link_to 'EDIT', edit_event_path(@event), class: 'button edit' %> or 
  <%= link_to 'DELETE', @event, method: :delete, data: { confirm: 'Are you sure?' },class: 'button delete'  %> this event.
<% end %>
