<p id="notice"><%= notice %></p>

<%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@event.latitude},#{@event.longitude}&markers=#{@event.latitude},#{@event.longitude}&zoom=7&size=640x400&key=AIzaSyB8c_WNUuU6gusK-TV4asDjmLoZuVhq_ww",
              class: 'small-map', alt: "#{@event.city}"%>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @event.category %>
</p>

<p>
  <strong>Region:</strong>
  <%= @event.region %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @event.topic %>
</p>

<p>
  <strong>Start:</strong>
  <%= @event.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @event.end %>
</p>

<p>
  <strong>Organizer:</strong>
  <%= @event.organizer %>
</p>

<p>
  <strong>Contact email:</strong>
  <%= @event.contact_email %>
</p>

<p>
  <strong>Contact phone:</strong>
  <%= @event.contact_phone %>
</p>

<p>
  <strong>Website:</strong>
  <%= @event.website %>
</p>

<p>
  <strong>Address:</strong>
  <%= @event.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @event.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @event.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @event.zip %>
</p>

<p>
  <strong>Location details:</strong>
  <%= @event.location_details %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
