<h2>Events in <%= region.name %></h2>
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Name</th>
      <th>Event Type</th>
      <th>Topic</th>
    </tr>
  </thead>
  <tbody>
    <% region.future_events.each do |event| %>
    <tr>
      <td><%= event.start.to_formatted_s(:friendly) %></td>
      <td class="name"><%= link_to event.name, event %> (<%= event.city %>, <%= event.state %>)<br/>
        <%= event.description.truncate_words(20) %>
      </td>
      <td><%= event.category.name %></td>
      <td><%= event.topic.name %></td>
    </tr>
    <% end %>
  </tbody>
</table>