<h2>Events in <%= region.name %></h2>
<div class="region">
  <div class="table_header">
    <div>Date</div>
    <div>Name</div>
    <div>Event Type</div>
    <div>Topic</div>
  </div>
  <ul class="event">
    <% region.future_events.each do |event| %>
    <li>
      <div class="date"><%= event.start.to_formatted_s(:friendly) %></div>
      <div class="name"><%= link_to event.name, event %> (<%= event.city %>, <%= event.state %>)<br/>
        <%= event.description.truncate_words(20) %>
      </div>
      <div class="category"><%= event.category.name %></div>
      <div class="topic"><%= event.topic.name %></div>
    </li>
    <% end %>
  </ul>
</div>