<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title || "ActNational.org: find and list progressive events from across the nation." %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <main>
      <div class="add_event">
        <%= link_to '+ Add A New Event', new_event_path %>
      </div>
      <h1><%= link_to 'ActNational.org','/' %></h1>
      
      <%= yield %>
    </main>
    <footer>
      2016 Act National. Reach out to <a href="mailto:contact@actnational.org">contact@actnational.org</a>. We are <a href="https://github.com/sudara/actnational">open source</a>.
    </footer>
    
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-88452505-1', 'auto');
      ga('send', 'pageview');

    </script>
  </body>
</html>
