<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title || "ActNational.org: an organizing tool for progressives." %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <main>
      <div class="add_event">
        <%= link_to '+ Add A New Event', new_event_path %>
      </div>
      <h1><%= link_to 'ActNational.org','/' %></h1>: an organizing tool for progressives.
      
      <%= yield %>
    </main>
    <footer>
      2016 Act National.  contact@actnational.org
    </footer>
  </body>
</html>
